<%- include('../../fragments/header.ejs') %>
    <script type="application/javascript" src="/JS/validateEventEdit.js"></script>
    <main>
        <h2>Edit Event</h2>

        <form class="form" novalidate onsubmit="return validateForm();">

            <label for="Game_Master">Game_Master: *</label>
            <input type="text" name="Game_Master" id="Game_Master" value="Michael" required />
            <span id="errorGame_Master"></span>

            <label for="Date">Date: *</label>
            <input type="date" name="Date" id="Date" value="2021-09-13" required />
            <span id="errorDate"></span>

            <div class="form-buttons">
                <p class="errors-text" id="errorsSummary"></p>
                <input type="submit" value="Edit" class="form-buttons-submit" />
                <a href="/event" class="form-buttons-cancel">Cancel</a>
            </div>

        </form>

    </main>
<%- include('../../fragments/footer.ejs') %>