<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Character Details</h2>

        <form class="form">

            <label for="Nick">Nickname:</label>
            <input type="text" name="Nick" value="Mikosz" id="Nick" disabled />
            <span id="errorNick"></span>

            <label for="Class">Class:</label>
            <input type="text" name="Class" value="Mage" id="Class" disabled />
            <span id="errorClass"></span>

            <label for="Race">Race:</label>
            <input type="text" name="Race" value="Orc" id="Race" disabled />
            <span id="errorRace"></span>

            <label for="Aligment">Aligment:</label>
            <input type="text" name="Aligment" value="Horde" id="Aligment" disabled />
            <span id="errorAligment"></span>

            <label for="Level">Level:</label>
            <input type="number" name="Level" value="60" id="Level" disabled />
            <span id="errorLevel"></span>

            <div class="form-buttons">
                <a href="../character/edit" class="form-buttons-submit">Edit</a>
            </div>

            <h2>Activity Details</h2>

            <table class="table-details-list">
                <thead>
                    <tr>
                        <th>Game Master</th>
                        <th>Date</th>
                        <th>Activity_Name</th>
                        <th>Experience</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Michael</td>
                        <td>2021-13-09</td>
                        <td>The Black Forest</td>
                        <td>660</td>
                    </tr>
                    <tr>
                        <td>Johny</td>
                        <td>2021-04-11</td>
                        <td>Temple of Azz'ak</td>
                        <td>1440</td>
                    </tr>
                    <tr>
                        <td>Michael</td>
                        <td>2021-12-12</td>
                        <td>Town RP</td>
                        <td>1000</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-buttons">
                <a href="/character" class="form-buttons-cancel">Back</a>
            </div>
        </form>

    </main>
    <%- include('../../fragments/footer.ejs') %>