<%- include('../../fragments/header.ejs') %>
<script type="application/javascript" src="/JS/validateActivityForm.js"></script>

    <main>
        <h2>Edit Activity</h2>

        <form class="form" novalidate onsubmit="return validateForm();">

            <label for="Activity_Name">Activity_Name: *</label>
            <input type="text" name="Activity_Name" id="Activity_Name" value="The Black Forest" required />
            <span id="errorActivity_Name"></span>

            <label for="Experience">Experience: *</label>
            <input type="text" name="Experience" id="Experience" value="660" required />
            <span id="errorExperience"></span>

            <div class="form-buttons">
                <p class="errors-text" id="errorsSummary"></p>
                <input type="submit" value="Edit" class="form-buttons-submit" />
                <a href="/activity" class="form-buttons-cancel">Cancel</a>
            </div>

        </form>

    </main>
<%- include('../../fragments/footer.ejs') %>